<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/4ed4d66ea3.js" crossorigin="anonymous"></script>



    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/style-home.css" type="text/css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Ubuntu&display=swap"
        rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>


    <title>Hello, world!</title>
</head>

<body>
    <header>
        <div class="container-fluid px-0">
            <div class="main-bar">
                <div class="row">
                    <div class="col-lg-3"><i class="fab fa-canadian-maple-leaf fa-2x "></i><span
                            class="web-title">ChinarAcademy</span><i class="fas fa-university fa-2x"></i></a>
                    </div>
                    <div class="col-lg-6">
                        <div class="input-group rounded search-box">
                            <input type="search" class="form-control rounded" placeholder="Search" />
                            <span class="input-group-text border-0" id="search-addon">
                                <i class="fas fa-search"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-3 main-profile">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="drop-img" src="Images/profile-icon.jpg">
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="text-align: center;">
                                <a href="/logout" class="dropdown-item " style="border: 1px solid black;
                                border-radius: 10px;background-color: silver;"> Logout </a>
                                <a href="/profile" class="dropdown-item " style="border: 1px solid black;
                                border-radius: 10px;border-top: none;background-color: silver;">Profile</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </header>
    <main>
        <div class="container-fluid main-one">
            <div class="row">
                <div class="col-lg-2 px-0 main-left">
                    <ul class="ul-one">
                        <li><i class="fas fa-home side-bar-icon fa-2x"></i><a class="side-links" href=""><span
                                    class="link-text">Home</span></a></li>
                        <li><i class="fab fa-hotjar side-bar-icon fa-2x"></i><a class="side-links" href=""><span
                                    class="link-text">Trending Courses</span></a></li>
                        <li><i class="fas fa-clock side-bar-icon fa-2x"></i><a class="side-links" href=""><span
                                    class="link-text">Quick Tutorials</span></a></li>
                    </ul>
                    <hr class="horizontal-rule">

                    <ul class="ul-two">
                        <li><i class="fas fa-history side-bar-icon fa-2x"></i><a class="side-links" href=""><span
                                    class="link-text">History</span></a></li>
                        <li><i class="fas fa-compass side-bar-icon fa-2x"></i><a class="side-links" href=""><span
                                    class="link-text">Browse Courses</span></a></li>
                        <li><i class="fas fa-hands-helping side-bar-icon fa-2x"></i><a class="side-links" href=""><span
                                    class="link-text">Help</span></a></li>
                    </ul>
                    <hr class="horizontal-rule">

                    <div>
                        <h4 class="watch">Watch List</h4>
                        <a href="/courses/1">JS Course One</a>
                        <a href="/courses/2">Algorithim course</a>
                        <a href="/courses/3">Algorithim course</a>
                    </div>
                </div>

                <div class="col-lg-10 main-right">
                    <div class="title-one"><Span>Latest Courses</Span></div>

                    <div class="latest-gallery">
                        <% let i=0 %>

                        <% for(let i=0;i<9;i++) {%>
                        <!-- <%= data[i].t_name %>  -->
                        <div class="gallery-item">
                            <div class="gallery-img">
                                <img src='/images/<%= i+1 %>.jpg' class="video-item"></div>
                            <div class="gallery-div">
                                <h4><%= data[i].c_name %> </h4>
                                <p style="margin:0">Teacher:<%= data[i].t_name %> <br> Domain: <%= data[i].domain %></p>
                                <a href="/courses/<%= data[i].c_id %> " class="btn btn-secondary btn-sm">Watch</a>
                            </div>
                        </div>
                        <% } %>
                    </div>
                        <div><hr style="border:none;height: 0;border-top:3px solid black ;"></div>
                    <!--                    Here ends gallery section and starts latest section-->
                    <div class="tutorials">
                        <div class="title-one"><Span>Tutorials</Span></div>

                        <div class="tutorial-gallery">

                            <div class="tgallery-item">
                                <iframe class="video-item" width="224px" height="300px"
                                    src="https://www.youtube.com/embed/JJSoEo8JSnc" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                                <div class="gallery-div">
                                    <h4>Flex Box-CSS</h4>
                                    <p>Subject: Front-end Development</p>
                                </div>
                            </div>

                            <div class="tgallery-item">
                                <iframe class="video-item" width="224px" height="300px"
                                    src="https://www.youtube.com/embed/AADZo73yrq4" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                                <div class="gallery-div">
                                    <h4>ARM Architecture</h4>
                                    <p>Subject:CPU Architcture & ISA</p>
                                </div>
                            </div>

                            <div class="tgallery-item">
                                <iframe class="video-item" width="224px" height="300px"
                                    src="https://www.youtube.com/embed/hBh_CC5y8-s" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                                <div class="gallery-div">
                                    <h4>Java Coding</h4>
                                    <p>Subject:Programing Languages</p>
                                </div>
                            </div>

                            <div class="tgallery-item">
                                <iframe class="video-item" width="224px" height="300px"
                                    src="https://www.youtube.com/embed/sxTmJE4k0ho" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                                <div class="gallery-div">
                                    <h4>Python Coding</h4>
                                    <p>Subject:Programing Languages</p>
                                </div>
                            </div>

                            <div class="tgallery-item">
                                <iframe class="video-item" width="224px" height="300px"
                                    src="https://www.youtube.com/embed/DVRQoVRzMIY" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                                <div class="gallery-div">
                                    <h4>Git Tutorial</h4>
                                    <p>Subject:Version control system </p>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>




            </div>
        </div>
    </main>

</body>

</html>